<div class ="background-home">
    <div class="welcome_shearch">
        <div class="container">
            <h1>New Dog</h1>
            
            <%= render 'form' %>
            
            <%= link_to 'Retour', dogs_path %>
        </div>
    </div>
</div>