<div class="background-home">
  </br>
  </br>
  </br>
  </br>
  <div class="container" >
  <div class="welcome_shearch">
    <h2>Recherche de partenaire Canin!</h2>
      <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Rechercher!</button>
          </span>
          <input type="text" class="form-control" placeholder="Race de chiens ">
      </div><!-- /input-group -->
  </div>
 </div>
</div>