/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bourbon";
@import "welcome";
@import "bootstrap-sprockets";
@import "bootstrap";

.background-home {
    margin: 0 auto;
    padding: 0;
    background: asset-url('chien_home.jpeg');
    -webkit-background-size: cover;
    background-size: cover;
    height :800px;
    margin-bottom: 0px;
}

.nav-bar-unmargin-bottom 
{
    background-color: #222;
    color: #fff;
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.text_white
{
    color: #fff;
}

.text_white_logo
{
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    color: #fff;
}

.text_white_logo:hover
{
    color: #fff;
}

.welcome_shearch
{   
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 6px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #2229;
    box-sizing: border-box;
}

.footer
{
    display: flex;
    min-height: 12vh;
    flex-direction: column;
    background-color: #222;
    flex: 1 0 auto;
}

.align_page
{
    margin: 0 auto;
    padding: 0;
    background: asset-url('chien_home.jpeg');
    -webkit-background-size: cover;
    background-size: cover;
    height :800px;
    margin-bottom: 0px;
}